.logo p {
	color: #2a4365;
}

.logo span {
	color: #63b3ed;
}

.logo:hover p {
	color: #63b3ed;
}

.logo:hover span {
	color: #2a4365;
}

.homeLink {
	text-decoration: none;
}

.form {
	height: 600px;
	width: 400px;
	background-color: rgba(255, 255, 255, 0.13);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	padding: 50px 35px;
}
.form * {
	font-family: 'Roboto', sans-serif;
	color: #2a4365;
	letter-spacing: 0.5px;
	outline: none;
	border: none;
}
.form h3 {
	font-size: 45px;
	font-weight: 500;
	line-height: 42px;
	text-align: center;
}

.label {
	display: block;
	margin-top: 30px;
	font-style: normal;
	font-size: 20px;
	font-weight: 500;
}
.input {
	display: block;
	height: 50px;
	width: 100%;
	background-color: #edf2f7;
	border-radius: 5px;
	padding: 0 10px;
	margin-top: 8px;
	font-size: 20px;
	font-weight: 300;
}

.btn {
	margin-top: 50px;
	width: 100%;
	height: 10%;
	background-color: #2a4365;
	color: white;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #63b3ed;
	color: white;
}

.login {
	margin-top: 30px;
	display: flex;
	/* text-align: center; */
	margin-left: 70px;
}

.login label {
	display: block;
	margin-top: 0;
	font-size: 18px;
	font-weight: 400;
	color: #2a4365;
}

.login a {
	margin-left: 10px;
	font-size: 18px;
	color: #63b3ed;
}

.login:hover a {
	color: #fe5000;
}

.background {
	width: 430px;
	height: 520px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.background .shape {
	height: 200px;
	width: 200px;
	position: absolute;
	border-radius: 50%;
}
.shape:first-child {
	background: linear-gradient(#1845ad, #23a2f6);
	right: -115px;
	top: -120px;
}
.shape:last-child {
	background: linear-gradient(to right, #ff512f, #f09819);
	left: -120px;
	bottom: -165px;
}
