.sitesList {
	width: 100%;
	display: block;
	font-size: 30px;
	list-style-type: none;
	color: white;
	margin-bottom: 30px;
}

.listItem {
	display: flex;
	justify-content: space-between;
	color: white;
	margin-bottom: 5px;
	background-color: #2a4365;
	border-radius: 25px;
}

.label {
	margin-left: 20px;
	margin-top: 1%;
}

.icon {
	font-size: 50px;
	display: inline-block;
	justify-content: center;
}

.btn {
	text-align: right;
	margin-left: 15px;
	display: inline-block;
	color: white;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.btns {
	display: inline;
	margin-right: 1%;
}

.btn:hover {
	color: #63b3ed;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h1 {
	color: #2a4365;
}
